.reservation-div {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 70%;
    background-color: white;
    gap: 5em;
    padding: 5em;
}

.reservation-div-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.reservation-div-info h5 {
    font-size: 28px;
    text-transform: uppercase;
}

.reservation-div-info li {
    list-style: none;
    margin-bottom: 5px;
}

.reservation-div-info ul {
    padding-top: 2em;
}

.reservation-div-info button {
    width: 50%;
    height: 60px;
    /* background-color: aquamarine; */
    font-size: 28px;
}

.reservation-details-container {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 5em;
}

.reservation-details-info-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: -15em;
}

.reservation-details-info-div input {
    width: 150%;
    height: 30px;
    font-size: 20px;
}

.reservation-details-info-div button {
    height: 50px;
    font-weight: bold;
}