.our-location {
    height: 400px;
    width: 70%;
    margin: auto;
    display: flex;
    gap: 2em;
    box-shadow: none;
}

.card {
    width: 100%;
    perspective: 800px;
    max-width: 450px;
    /* height: auto; */
    display: flex;
    flex-direction: column;
}

.card-inner {
    display: flex;
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover .card-inner {
    transform: rotateY(-180deg);
}

.card-image img {
    width: 100%;
    border-radius: 10px;
}

.card-side {
    text-align: center;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
}

.card-side-back {
    transform: rotateY(180deg);
}

.card-gda {
    justify-self: start;
}

.card-poz {
    justify-self: center;
}

.card-war {
    justify-self: start;
}

.card-kra {
    justify-self: center;
}