@import "_header.css";
@import "_headerMedia.css";
@import "_sectionOne.css";
@import "_sectionOneMedia.css";
@import "_sectionTwo.css";
@import "_sectionTwoMedia.css";
@import "_sectionThree.css";
@import "_sectionThreeMedia.css";
@import "_login.css";
@import "_asideBar.css";
@import "_searchSection.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #cbd5e1;
}

.section {
    padding: 5em 2em 5em 2em;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

input {
    cursor: pointer;
}