@media screen and (max-width: 767px) {
    .about-us-container {
        width: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .about-us-container {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .about-us-container {
        width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    .about-us-container {
        width: 60%;
    }
}