@media screen and (min-width: 768px) {
    .our-location {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .card {
        width: calc(50% - 2em);
        max-width: none;
    }

    .card-image img {
        height: 250px;
    }
}

@media screen and (min-width: 1025px) {
    .our-location {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-image img {
        height: 300px;
    }
}

@media screen and (min-width: 1441px) {
    .our-location {
        width: 1000px;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-image img {
        height: 350px;
    }
}